API_KEY=SHOULD BE VERY VERY SECRET AND SAME AS THE ONE USED IN THE FIRMWARE CLIENT
UA_STRING=SENT AS USER AGENT HEADER TO APIs
SECRET_ICAL_ADDRESS=YOUR SECRET ADDRESS TO ICAL
DEPLOY_HOST=example.com
WEATHER_QUERY=lat=59.874&lon=10.811&altitude=150 # Fill in your location of interest
